<%# solidus_auth_devise or a custom auth system can replace this partial %>
<% if spree_current_user %>
<li>
    <%= link_to "Logout", account_path %>
  </li>
<% else %>
  <li>
    <%= link_to "Login", account_path %>
  </li>
  <li>
    <%= link_to "Register", registration_path %>
  </li>
<% end %>
